#msg-box3-18 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-18 .lead P {
  text-align: center;
  font-size: 30px;
}
#msg-box3-18 .mbr-section-title {
  font-size: 36px;
}
#content4-19 A {
  color: #0275d8;
}
#content4-1a H4 {
  color: #000000;
}
